@charset "utf-8";
/* CSS Document */

#personInfoLogo{ width:980px; height:80px; margin:0 auto; background-color:#F1F1F1; padding-top:10px; border-bottom:1px solid #D7D7D7; }
#main{ width:980px; margin:0 auto;}
#main_left{ width:150px; float:left; background-color:#F5F5F5; border:1px solid #D7D7D7; border-top:none;}
#main_right{ float:right; width:800px;}